@charset "UTF-8";
/* G마켓 산스 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 잘난체 */
@font-face {
  font-family: "yg-jalnan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 폰트 어썸 CDN */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside,
dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

body {
  font-family: "GmarketSansMedium";
  color: #1c1c1c;
  font-style: normal;
  font-weight: normal;
}

a {
  color: #1c1c1c;
  text-decoration: none;
  font-weight: normal;
}

ul, ol, li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: white;
  border: none;
}

input {
  outline: none;
  border: none;
}

.inner {
  width: 1320px;
  margin: auto;
}

.title {
  font-size: 60px;
  font-family: "yg-jalnan";
  color: #1A4A31;
}

section {
  padding: 3rem;
  margin-bottom: 100px;
}

html {
  scroll-behavior: smooth;
}

.att {
  width: 300px;
  height: 100px;
  background: url(../images/주목.gif);
}

body {
  background-color: #FFFCF6;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #1A4A31;
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.active {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #1A4A31;
  -webkit-box-shadow: none;
          box-shadow: none;
}
header.active #logo {
  color: #1A4A31 !important;
}
header.active .gnb-left .primary-menu > li:first-child > a {
  color: #FFCB4E !important;
}
header.active .primary-menu > li > a {
  color: #8E8E8E !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.active .primary-menu > li > a:hover, header.active .primary-menu > li > a.active {
  color: black !important;
}
header.active .inner {
  width: 100%;
}
header.active .inner .container > .hamburger i,
header.active .inner .container > .reading-glasses i {
  color: #8E8E8E;
}
header.active .moblie-sec-wrap > button {
  color: #8E8E8E !important;
}
header .search-header {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
header .search-header i {
  color: #8E8E8E;
}
header .search-header .search-wrap {
  position: absolute;
  top: -90px;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .search-header form {
  width: 95%;
}
header .search-header input {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}
header .search-header input::-webkit-input-placeholder {
  color: #8E8E8E;
}
header .search-header input::-moz-placeholder {
  color: #8E8E8E;
}
header .search-header input:-ms-input-placeholder {
  color: #8E8E8E;
}
header .search-header input::-ms-input-placeholder {
  color: #8E8E8E;
}
header .search-header input::placeholder {
  color: #8E8E8E;
}
header .search-header .close-btn {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
}
header .search-header.active {
  opacity: 1;
  height: 100vh;
  z-index: 1000;
}
header .search-header.active .search-wrap {
  top: 0;
}
header .inner {
  height: 100%;
}
header .inner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*>a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }*/
}
header .inner .container > .moblie-sec-wrap {
  display: none;
}
header .inner .container > .moblie-sec-wrap > #logo {
  color: white;
}
header .inner .container > .moblie-sec-wrap > button {
  background-color: inherit;
  color: white;
}
header .inner .container nav {
  width: 100%;
  height: 100%;
}
header .inner .container nav .gnb {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .inner .container nav .gnb .gnb-left .primary-menu > li:first-child a {
  color: #FFCB4E;
  font-size: 20px;
}
header .inner .container nav .gnb .gnb-left .primary-menu li:nth-child(4) .mega-menu .sub-menu {
  grid-template-columns: repeat(1, auto);
}
header .inner .container nav .gnb .gnb-left .primary-menu li:nth-child(3) .mega-menu .sub-menu li:nth-child(2n+1) a {
  margin-right: 50px;
}
header .inner .container nav .gnb #logo {
  color: white;
}
header .inner .container nav .gnb .gnb-right .primary-menu li:nth-child(2) .mega-menu .sub-menu {
  grid-template-columns: repeat(1, auto);
}
header .inner .container nav .gnb .primary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 15px;
}
header .inner .container nav .gnb .primary-menu > li > a {
  position: relative;
  display: block;
  height: 90px;
  line-height: 90px;
  padding: 0 15px;
  color: white;
  font-size: 16px;
}
header .inner .container nav .gnb .primary-menu > li > a > img {
  vertical-align: middle;
}
header .inner .container nav .gnb .primary-menu > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #FFCB4E;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .inner .container nav .gnb .primary-menu > li > a:hover::after, header .inner .container nav .gnb .primary-menu > li > a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FFCB4E;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header .inner .container nav .gnb .primary-menu > li .mega-menu {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  background-color: white;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .inner .container nav .gnb .primary-menu > li .mega-menu > a {
  display: block;
  width: 40%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .inner .container nav .gnb .primary-menu > li .mega-menu > a > img {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
}
header .inner .container nav .gnb .primary-menu > li .mega-menu .sub-menu {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}
header .inner .container nav .gnb .primary-menu > li .mega-menu .sub-menu a {
  display: block;
  padding: 5px 0;
  color: #8E8E8E;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .inner .container nav .gnb .primary-menu > li .mega-menu .sub-menu a:hover {
  color: #1A4A31;
}
header .inner .container nav .gnb .primary-menu > li .mega-menu.active {
  max-height: 500px;
  padding: 20px;
}
header .inner .container > button {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
}
header .mobile-nav {
  display: none;
}

.c-s-main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1A4A31;
  padding-top: 160px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-s-main-wrap .c-s-main-text {
  height: 100%;
}
.c-s-main-wrap .c-s-main-text p {
  margin-top: 10px;
}
.c-s-main-wrap .c-s-main-text h5 {
  margin-top: 20px;
  font-size: 15px;
}
.c-s-main-wrap .c-s-main-text h1 {
  font-size: 60px;
  font-family: "yg-jalnan";
}
.c-s-main-wrap .c-s-main-text h3 {
  font-size: 10px;
}

.c-s-icon-warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  margin-top: 0;
}
.c-s-icon-warp .c-s-icon {
  text-align: center;
  margin: 50px 0;
}
.c-s-icon-warp .c-s-icon button {
  margin-top: 10px;
  background-color: #1A4A31;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-family: "GmarketSansMedium";
}
.c-s-icon-warp .c-s-icon button:hover {
  background-color: #FFCB4E;
  color: #1c1c1c;
}

.c-s-bottom-text {
  margin-top: 50px;
  margin-left: 115px;
}
.c-s-bottom-text h2 {
  font-family: "yg-jalnan";
  font-size: 25px;
  color: #1A4A31;
}
.c-s-bottom-text ul li {
  list-style: circle;
}

.footer {
  width: 100%;
  background-color: #1c1c1c;
  padding: 2rem 0;
  margin-top: 50px;
}
.footer .inner .footer-top .mobile-call {
  display: none;
}
.footer .inner .footer-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgb(129, 129, 129);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .inner .footer-top ul li a {
  display: block;
  font-size: 16px;
  color: #8E8E8E;
  font-family: "GmarketSansMedium";
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 10px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 0;
}
.footer .inner .footer-top ul li a:hover {
  color: rgb(255, 255, 255);
}
.footer .inner .footer-top .mobile-brand {
  display: none;
}
.footer .inner .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .inner .footer-bottom-text {
  color: gray;
  font-family: "GmarketSansMedium";
  margin-left: 10px;
}
.footer .inner .footer-bottom-text p {
  font-size: 16px;
}
.footer .inner .footer-bottom-text span {
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
}
.footer .inner .footer-bottom .footer-bottom-brand {
  margin-right: 10px;
}
.footer .inner .footer-bottom .footer-bottom-brand p {
  color: white;
  font-family: "GmarketSansMedium";
  margin-bottom: 5px;
  font-size: 16px;
}
.footer .inner .footer-bottom .footer-bottom-brand-top a img {
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer .inner .footer-bottom .footer-bottom-brand-top img:hover {
  border-radius: 20px;
}
.footer .inner .footer-bottom .footer-bottom-brand-bottom a img {
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer .inner .footer-bottom .footer-bottom-brand-bottom img:hover {
  border-radius: 20px;
}

@media (max-width: 767px) {
  * {
    font-size: 16px;
  }
  * .inner {
    width: 90%;
  }
  section {
    padding: 2rem 0;
    margin-bottom: 50px;
  }
  header .inner {
    width: 90%;
  }
  header .inner .container > .moblie-sec-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .inner .container nav {
    display: none;
  }
  header .inner .container > button {
    display: block;
  }
  header .search-header .search-wrap {
    padding: 0 20px;
  }
  header .mobile-nav {
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .mobile-nav .mobile-nav-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    background-color: white;
    width: 60%;
    padding: 10px 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .mobile-nav .mobile-nav-wrap .top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px 0;
  }
  header .mobile-nav .mobile-nav-wrap .top-wrap > button {
    border: none;
  }
  header .mobile-nav .mobile-nav-wrap .primary-menu {
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  header .mobile-nav .mobile-nav-wrap .primary-menu > li a {
    display: block;
    padding: 5px 0;
    color: #8E8E8E;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .mobile-nav .mobile-nav-wrap .primary-menu > li > a {
    position: relative;
  }
  header .mobile-nav .mobile-nav-wrap .primary-menu > li > a.accodion-btn::after {
    content: "\f107";
    font-family: "fontAwesome";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .mobile-nav .mobile-nav-wrap .primary-menu > li > a.active, header .mobile-nav .mobile-nav-wrap .primary-menu > li > a:hover {
    color: #1A4A31;
    font-weight: bold;
  }
  header .mobile-nav .mobile-nav-wrap .primary-menu > li > a.active::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }
  header .mobile-nav .mobile-nav-wrap .primary-menu .mega-menu {
    width: 90%;
    max-height: 0;
    overflow: hidden;
    margin-left: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .mobile-nav .mobile-nav-wrap .primary-menu .mega-menu.active {
    max-height: 200px;
  }
  header .mobile-nav .mobile-nav-wrap .sns_list .sns_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  header .mobile-nav .mobile-nav-wrap .sns_list .sns_wrap p {
    margin-bottom: 20px;
  }
  header .mobile-nav .mobile-nav-wrap .sns_list .sns_wrap > div {
    width: 60px;
    height: 60px;
    border: 1px solid #8E8E8E;
    border-radius: 50%;
    margin-top: 15px;
  }
  header .mobile-nav .mobile-nav-wrap .sns_list .sns_wrap > div a {
    display: block;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .mobile-nav.active {
    opacity: 1;
    z-index: 1;
    right: 0;
  }
  header .mobile-nav.active .mobile-nav-wrap {
    left: 0;
  }
  .inner {
    width: 90%;
  }
  .inner .c-s-main-wrap {
    gap: 50px;
  }
  .inner .c-s-main-wrap .c-s-mian-img img {
    width: 180px;
  }
  .inner .c-s-main-wrap .c-s-main-text {
    margin-top: 40px;
  }
  .inner .c-s-main-wrap .c-s-main-text h1 {
    font-size: 25px;
  }
  .inner .c-s-main-wrap .c-s-main-text p {
    font-size: 11px;
  }
  .inner .c-s-icon p {
    font-size: 15px;
  }
  .inner .c-s-icon img {
    width: 100px;
  }
  .inner .c-s-icon button {
    width: 100px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .inner .c-s-bottom-text {
    margin-left: 0;
  }
  .inner .c-s-bottom-text ul li {
    font-size: 13px;
  }
  /* ------------- footer ------------- */
  .footer .inner {
    padding: 10px;
  }
  .footer .inner .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .inner .footer-top ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: none;
  }
  .footer .inner .footer-top ul li {
    width: 100%;
  }
  .footer .inner .footer-top ul li a {
    font-size: 16px;
    line-height: 1.2;
    padding: 5px;
    border: 1px;
    text-align: left;
    width: 100%;
  }
  .footer .inner .footer-top .mobile-brand {
    display: block;
  }
  .footer .inner .footer-top .mobile-brand .mobile-call {
    display: block;
    font-size: 16px;
    margin: 0;
    margin-left: 7px;
    width: 200px;
  }
  .footer .inner .footer-top .mobile-brand .mobile-call span {
    font-size: 16px;
  }
  .footer .inner .footer-bottom-brand p {
    color: white;
    font-size: 16px;
    font-family: "GmarketSansMedium";
    margin-bottom: 5px;
  }
  .footer .inner .footer-bottom-brand .footer-bottom-brand-top {
    margin-top: 20px;
    margin-left: 30px;
  }
  .footer .inner .footer-bottom-brand .footer-bottom-brand-top a img {
    width: 80px;
    height: 50px;
    background-color: white;
  }
  .footer .inner .footer-bottom-brand-mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
  }
  .footer .inner .footer-bottom-brand-mid a img {
    width: 80px;
    height: 50px;
    background-color: white;
  }
  .footer .inner .footer-bottom-brand-bottom {
    margin-left: 30px;
  }
  .footer .inner .footer-bottom-brand-bottom a img {
    width: 80px;
    height: 50px;
    background-color: white;
  }
  .footer .footer-bottom {
    border-top: 1px solid rgb(253, 253, 253);
  }
  .footer .footer-bottom p {
    margin-top: 40px;
  }
  .footer-bottom-brand {
    display: none;
  }
}